<head>
<script src="vue.min.js"></script>
</head>
<body>
<div id="body">
a = <input v-model="a"/><br>
b = <input v-model="b"/><br>
c = <input disabled v-model="c"/><br>
c = {{c}}<hr>
<label><input type="checkbox" v-model="chkBox" value="aa"/>aa</label><br>
<label><input type="checkbox" v-model="chkBox" value="bb"/>bb</label><br>
<label><input type="checkbox" v-model="chkBox" value="cc" />cc</label><br>
{{chkBox|json}}<br>
<hr>
<label><input type="radio" value="One" v-model="picked">One1</label><br>
<label><input type="radio" value="Two" v-model="picked">Two1</label><br>
<span>Picked: {{ picked }}</span>
<hr>
<select v-model="selected">
  <option selected>A</option>
  <option>B</option>
  <option>C</option>
</select><br>
selected {{selected}}
</div>
<script src="a.js"></script>
</body>